name: Build JavaScript

on:
  push:
    paths-ignore:
      - 'README.md'
      - 'RELEASE.md'
      - 'ruby/**'
    branches:
      - master
      
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'RELEASE.md'
      - 'ruby/**'
    branches:
      - '*'

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        node-version:
          - 16
          - 18
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Node ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    # libgbm-dev is required by Puppeteer 3+
    - name: Install system dependencies
      run: |
        sudo apt-get install -y libgbm-dev
      if: ${{ runner.os == 'Linux' }}
    - name: Install dependencies
      run: |
        npm ci
    - name: Lint and test
      run: |
        npm run lint
        npm t
